<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140B Project</title>
    <meta name="author" content="Gaopo Huang">
    <meta name="description" content="Home Page">

    <link rel="stylesheet" type="text/css" href="css/ece140b.css">
  </head>

  <body>
    <section id="maintab"></section>


    <section class='padding-responsive'>
    <div class="separator">Costs</div>
    <ol>
      <li>Production cost
        <ol> 
          <li> PCB board								1.3 USD/unit</li>
          <li>Sensor chip (Mouser sale, texas instrument model)		    2 USD/unit </li>
            <ol>
              <li>RFID</li>
              <li>WIFI</li>
              <li>RFID sticker (ct. 10 per product)</li>
            </ol>
          <li> Battery (LiPo 2000mAh 3.7v)								2.8 USD/unit</li>
          <li> Charger								3 USD/unit</li>
          <li> Container								1 USD/unit</li>
          <li> Factory assembly fee								0.5 USD/unit</li>
        </ol>
        <div>Total cost per unit: 10.6 USD</div>
        <div>Assuming 1,000 pieces sell out in the first year, total cost per year: 10,600 USD</div>
      </li>
      <div>
      <li>Operation flexible cost
        <ol> 
          <li> Customer service							  8 USD/hour~=13,348 USD/year</li>
          <li> Server fee							      200 USD/month~= 2,400 USD/year</li>
          <li> Software maintenance&update team								Self-employed</li>
          <li> Advertising&sales team					       5000 USD/year</li>
          <li> Factory assembly fee								0.5 USD/unit</li>
        </ol>
        <div>Total cost per year: 20,748 USD</div>
      </li>
    </div>
    </ol>
    <section>
    <ul class="heartlist"> Cost references:
      <li><a class="link" href="https://pcbshopper.com/">PCB board price&assembly reference</a></li>
      <li><a class="link" href="https://vatsbattery.en.made-in-china.com/product/AdJEGfKOJLhi/China-Factory-Best-Price-Lithium-Polymer-Battery-Lipo-Cell-3-7V-103450-2000mAh-Lipo-Battery-for-Wireless-Tracker-with-UL-Kc-CE-CB.html">Battery estimation reference</a></li>
      <li><a class="link" href="https://www.sourcengine.com/part-info/RF37S114HTFJB-8200175239?utm_source=audiencex&utm_medium=paidsearch&utm_campaign=shopping&gclid=Cj0KCQjwvqeUBhCBARIsAOdt45bZzGvT9VfWPrOLTG7lt2-FbvNydmpbU1TLXDVkHCZO3O7ckSP4TBYaAldAEALw_wcB">RFID</a>, <a class="link" href="https://www.sourcengine.com/part-info/CC2640R2LRGZR-145206321368?utm_source=audiencex&utm_medium=paidsearch&utm_campaign=shopping&gclid=Cj0KCQjwvqeUBhCBARIsAOdt45Y4wDBaJHkUF8E7Q4qHC2m_XzrwO-qdX9elZtlmkFFuan9aAI8sawwaAhbsEALw_wcB">WIFI</a></li>
      <li><a class="link" href="https://www.cloudtask.com/blog/how-much-does-it-cost-to-outsource-a-call-center">Customer Service outsourcing reference</a></li>
      <li><a class="link" href="https://www.servermania.com/kb/articles/how-much-does-a-server-cost-for-a-small-business/">Server fee cost reference</a></li>
      <li><a class="link" href="https://smallbusiness.chron.com/much-cost-advertise-business-66152.html">Advertising reference</a></li>
    </ul>
    </section>


    <div class="separator">Revenue</div>

    <section> 
      Channels:	
      <ol>
        <li> Direct online retail platform							30% of sales
          <ol> 
            <li> Amazon </li>
            <li> Aliexpress </li>
          </ol>
        </li>
  
        <li>Ad-based attraction								50% of sales
          <ol> 
            <li> Short video platform (TikTok)</li>
            <li> Social medias (instagram, twitter)</li>
            <li> Google Ads</li>
          </ol>
          <div>(Ad-based sales goes to online retail platform for purchasing)</div>
        </li>

        <li> Local pharmacy retail							20% of sales
          <ol> 
            <li> CVS </li>
            <li> Walgreens </li>
          </ol>
        </li>
      </ol>

    </section>

    <section>

      <ul class="heartlist"> 
        <li>Sales  (one-time fee): 50 USD/unit</li>
        <li>Subscription fee (only for upgraded functionality): 12 USD/month</li>
      </ul>
      <div>Assuming we sale 1,000 unit in the first year, revenue for one-time sales is 50,000 USD</div>
      <div>Assuming 30% of the customer choose to update in cost for a subscription fee: 43,200 USD</div>
      <ul class="heartlist"> 
        <li>Total revenue in a year: 93,200 USD</li>
        <li>Total cost in a year: 20,748 USD</li>
        <li>Total profit in a year: 72,452 USD</li>
        <li>Profit rate: 349%</li>
      </ul>
    
    </section>  
    
    </section>

  <hr> 

  <div class = 'footnote'> * All product estimation are calculated based on 1,000 unit wholesale price </div>


  
    <script type='text/javascript' src='javascripts/essential.js'></script>
    <script type='text/javascript' src='javascripts/button.js'></script>
  </body>
</html>