<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140B Project</title>
    <meta name="author" content="Gaopo Huang">
    <meta name="description" content="Home Page">

    <link rel="stylesheet" type="text/css" href="css/ece140b.css">
  </head>

  <body>

    <div class='title'>
      <h1> Stay Awake Driver! </h1>
      <p> A smart device to ensure you stay awake and focused while driving</p>
    </div>

    <section class='padding-responsive'>

      <div class='separator'>Team members</div>

      <table class='margin-top-xl'>
        <thead>
          <tr>
            <th class='small'> First Name </th>
            <th class='medium'> Last Name </th>
            <th class='large'> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for mem in Team_member %}
          <tr>
            <td> {{mem[0]}} </td>
            <td> {{mem[1]}} </td>
            <td><a class = 'link' href={{mem[3]}} target="_blank">  {{mem[2]}} </a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class='separator'>Project Idea</div>
      <p> Our product aims to use a camera and possibly other sensors to detect drivers' fatigue and focus level and give warnings to the drivers if there are signs of drowsiness and/or distraction.   </p>
      <p> More than 27% of truck crashes are attributed to distraction and fatigue according to <a href=https://www.fmcsa.dot.gov/safety/data-and-statistics/large-truck-and-bus-crash-facts-2019 class="link">FMCSA</a>. The goal of our project  is to help prevent truck accidents from happening due to these reasons. </p>

      <div class='separator'>Materials </div>
      <ul >
        <li> Camera </li>
        <li> GPS </li>
        <li> Gyrometer </li>
        <li> Bluetooth </li>
      </ul>
      
      <hr> 

      <div class = 'footnote'> * Content from this page is still tentative and subject to change until permission from the instructor is granted </div>
      

    </section>

  </body>
</html>