<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140B Project</title>
    <meta name="author" content="Gaopo Huang">
    <meta name="description" content="KVP">

    <link rel="stylesheet" type="text/css" href="css/ece140b.css">
  </head>

  <body>
    <section class="main-tab">
      <button class='btn tab' value="" id="tab1" > Home Page </button>
      <button  class='btn tab' value="KVP" id="tab2"> KVP </button>

    </section>
    <div class='title'>
      <h1> Pill Care<sup>TM</sup> </h1>
      <p> Caring in Your Family!</p>
    </div>

    <section class='padding-responsive'>


      
      <div class='separator'>Key Value Proposition</div>
        <p>Our Pill Care<sup>TM</sup> helps family members who have elders to take correct pills on time regularly by reminding elders to take correct type and amount of pill using customized family members' voice recordings and give the family a chance to bond the youngs and elders unlike HERO, ScriptTalk, and CVS's app. </p>

      <div class="separator">Key Value Illustration</div>
      <section class='responsive_grid'>
        <div class="center"><h4>Setup Phase</h4><img src="images/KVP_setup.jpg" id="KVP_setup"></div>
        <div class="center"><h4>Use Phase</h4><img src="images/KVP_use.jpg" id="KVP_use"></div>
      </section>
      <hr> 

      <div class = 'footnote'> * Content from this page is still tentative and subject to change until the product is finalized </div>
      

    </section>

    <script type='text/javascript' src='javascripts/button.js'></script>
  </body>
</html>