<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140B Project</title>
    <meta name="author" content="Gaopo Huang">
    <meta name="description" content="Home Page">

    <link rel="stylesheet" type="text/css" href="css/ece140b.css">
  </head>

  <body>
    <section id="maintab"></section>
    <section class="padding-responsive">
    <div class="separator">Pivoting</div>

    <section class='responsive_grid'>
        <section>
          <h5 class="center"> Customer-need pivot </h5>
          <div> A pivot that we took at the early stage </div>
          <div> We still focus on elders but we find that elders taking pills on time is a more serious and clear problem compared to wearable watches that detect unprecedented falling. The need is larger and more inevitable, and the customer is easier to accept the product of pill-taking reminders compared to a watch that requires constant wearing with a GPS location feature. </div>
          <div> <span class="bold underline"> Original:</span> Wearable Watch that detects falling for elders</div>
          <div> <span class="bold underline"> Now:</span> Now: a box that reminds elders to take pills on time with the correct dosage with the care of family members.</div>
        </section>
        <section>
          <h5  class="center"> Zoom-out Pivot </h5>
          <div><span class="bold underline"> Now:</span> A box that reminds elders to take pills on time with the correct dosage with the care of family members.  </div>
          <div> <span class="bold underline"> Future:</span> Auto pill dispenser that will not only remind elders to take pills on time with the correct dosage but also display family members' messages and photos they upload for elders when taking pills on time.</div>

        </section>
        <section >
          <h5 class="center"> Business Architecture Pivot</h5>      
          <div><span class="bold underline"> Now:</span> We sell our product directly to the customers (B2C) for those who want a reliable and caring pill reminder for the elders in the family.          </div>
          <div> <span class="bold underline"> Future:</span> We will shift to B2B: we will sell our product to major pharmaceutical companies, such as CVS and Walgreens. As B2B strategies have a higher volume in sales, this is beneficial for business development and brand foundation.
          </div>
        </section>
      </section>
    </section>

    <script type='text/javascript' src='javascripts/essential.js'></script>
    <script type='text/javascript' src='javascripts/button.js'></script>
  </body>
</html>