<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140B Project</title>
    <meta name="author" content="Gaopo Huang">
    <meta name="description" content="Home Page">

    <link rel="stylesheet" type="text/css" href="css/ece140b.css">
  </head>

  <body>
    <section id="maintab"></section>

    <div class="separator">UI Mock-up</div>
    <section class='responsive_grid'>
      <div>
        <h5 class="center">Bottle caps</h5>
        <img class='img' style="display:block;" width="100%" height="75%" src="images/mockup_cap.jpg">
        <p>Compatible pill bottle caps for most pill types and bottles</p>
      </div>
      <div>
        <h5 class="center">Pill Care</h5>
        <img class='img' style="display:block;" width="100%" height="75%" src="images/mockup_PillCare.jpg">
        <p>Components including: 1. RFID reader; 2. Alert time input; 3. Recorder and speaker</p>
      </div>
      <div>
        <h5 class="center">Webpage</h5>
        <img class='img' style="display:block;" width="100%" height="75%" src="images/mockup_webapp.jpg">
        <p>Sections including: 1. User Profile; 2. Medication Schedule; 3. Medication History</p>
      </div>
    </section>
    <section class="padding-responsive"></section>
    
    <div class="separator">Laws of UI Design</div>

  <section class='responsive_grid'>
    <section class="center">
      <h5> Millers Law</h5>
      <img class='img' style="display:block;" width="100%" height="75%" src="images/UIlaw_millers.jpg">
      <div>Spotify ensures that the home page has the number of items/blocks of each its section being between 3-6. In this way, users like I feel that we are not overwhelmed with the options that we have while also have a sufficient number of choices to find our interests and preferences. Spotify hides other information (or more choices) into a "View more" option that can be expanded only if user chooses to.</div>
    </section>
    <section class="center">
      <h5> Law of Pragnaz</h5>
      <img class='img' style="display:block;" width="100%" height="75%" src="images/UIlaw_pragnaz.jpg">
      <div>Most phone UI design nowadays have its status bar at top consisting of multiple simple logos that can be interpreted by users. This gives users the room to imagine their representation. However the user will associate them to their actual representation, which are their simplest interpretation. For instance, people intrepret the five blocks in ascending order of their height as the signal strengh just as their distance to the signal tower. As another example, users interpret the lightning symbol as the lightning instead of two triangles or other symbols because it's the easiest to associate with lightning for charging.</div>
    </section>
    <section class="center">
      <h5> Jacob's Law</h5>      
        <img class='img' style="display:block;" width="100%" height="30%" src="images/UIlaw_jacob1.jpg">
        <img class='img' style="display:block;" width="100%" height="30%" src="images/UIlaw_jacob2.jpg">
      </div>
      <div>The two search Engines Baidu and Google user interface look extremely similar in terms of their layout, button arrangement, and information display. This way when users use Baidu, the most popular search engine used by Chinese, they will have a very easy time to transition between these two different search engines.</div>
    </section>
  </section>

  
    <script type='text/javascript' src='javascripts/essential.js'></script>
    <script type='text/javascript' src='javascripts/button.js'></script>
  </body>
</html>